.env

venv/
env/

__pycache__/
*.pyc
*.pyo
alembic/versions/

.idea/
.vscode/
alembic/script.py.mako
ex.py
.env
envenv.py
cert.pem
key.pem
chromedriver-win64/
app/media/story_pictures/
app/media/author_photo/